* {
    padding: 0px;
    margin: 0px;
}

body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    background: url(https://ecos.dbccompany.com.br/assets/patternECOStransparente.png), linear-gradient(to bottom right, #295ba7, #78b454);
}

header nav {
    display: flex;
    align-items: center;
}

header nav ul li {
    display: inline;
}

header > nav > ul > li > span {
    color: white;
    font-weight: bolder;
    font-size: larger;
    padding: 10px;
}

header > nav > ul > li > a {
    margin-left: 15px;
}

header  > nav > a > img { 
    max-width: 100%;
    width: 105px;
    height: 36px;
    padding: 5px;
}

header > div {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

header > div > a > i{
    margin-left: 30px;
}

header > nav > ul > li:first-child:hover{
    cursor: pointer;
    background-color:black;
    opacity: 0.3;
    padding: 10px 0px;
}

.fa-angle-down {
    margin-left: 3px;
}

header > nav > ul > li > img {
    max-width: 100%;
    width: 35px;
    height: 35px;
    border-radius: 360px;
    margin-left: 25px;
}

header i {
    color: white!important; 
}

header input {
    height: 30px;
    width: 400px;
    border: none;
    background-color: #356b6578 !important;
    color: white;
}

header input:focus::-webkit-input-placeholder {
    color: transparent;
}

header ::placeholder {
    color: white;
    font-size: 15px;
    padding: 10px;    
}

.fa-magnifying-glass {
    color: white;
    position: absolute;
    top: 18px;
    left: 625px;
}

 
.container {
    display: flex;
    margin: 0 auto;
    max-width: 1200px;
}

main {
    background-color: #EFF3F8;
    padding: 15px 105px;
    max-width: 100%;
    max-height: 100%;
}

/* NOTICIAS */

.noticias > div > img {
    max-width: 200px;
    min-width: 200px;
    margin-right: 5px;
}

.noticias {
    background-color: #f8f9fa;
    border: 0px solid black;
    border-radius: 5px;
    min-width: 675px;
    max-width: 675px;
    padding-top: 12px;
    -webkit-box-shadow: 0px 1px 8px -2px rgba(51, 50, 50, 0.39);
    -moz-box-shadow: 0px 1px 8px -2px rgba(61, 61, 61, 0.39);
    box-shadow: 0px 1px 8px -2px rgba(146, 146, 146, 0.39);
}

.noticias > h5 {
    display: block;
    width: 97.8%;
    border-bottom: 1px solid #d9d9d9cb;
    font-size: 12px;
    padding: 4px 0 15px 15px;
    margin-bottom: 15px;
    color: rgb(58, 57, 57);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.noticias > div {
    display: flex;
    max-width: 100%;
    background-color: white;
    margin: 0 15px 15px 15px ;
    border: 0px solid black;
    border-radius: 4px;  
    -webkit-box-shadow: 0px 1px 8px -2px rgba(51, 50, 50, 0.39);
    -moz-box-shadow: 0px 1px 8px -2px rgba(61, 61, 61, 0.39);
    box-shadow: 0px 1px 8px -2px rgba(146, 146, 146, 0.39);
}

.noticias div > h6 {
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.noticias div > span {
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   font-size: 90%;
}


.desc-noticia {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
}

.noticia-inferior {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 90%;
    color: #6c757d;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

ul li {
    display: inline;
    margin-left: 8px;
}

ul li a {
    text-decoration: none;
    color : #6c757d;
}

.fa-heart {
    margin-right: 3px;
    color: #DC3545;
}

.fa-comments, .fa-eye {
    margin-right: 3px;
}

/* SISTEMAS */

.menu-lateral {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    max-width: 100%;
}

.sistemas {
    border: 0px solid black;
    border-radius: 4px;
    background-color: #f8f9fa;
    -webkit-box-shadow: 0px 1px 8px -2px rgba(51, 50, 50, 0.39);
    -moz-box-shadow: 0px 1px 8px -2px rgba(61, 61, 61, 0.39);
    box-shadow: 0px 1px 8px -2px rgba(146, 146, 146, 0.39);
    width: 450px;
    margin: 0 auto;
}

.sistemas > h5 {
    display: block;
    border-bottom: 1px solid #d9d9d9cb;
    font-size: 12px;
    padding: 15px;
    margin-bottom: 5px;
    color: rgb(56, 55, 55);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.sistemas nav {
    padding: 0 20px;
    padding-bottom: 10px;
}

.sistemas > nav > ul {
    padding: 1px 0 1px 3px;
    margin: 2px;
    display: block;
}

.sistemas > nav > ul > li {
    display: flex;
    flex-wrap: wrap;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    display: inline-block;
    width: 90px;
    height: 60px;
    max-width: 100%;    
    -webkit-box-shadow: 0px 1px 8px -2px rgba(51, 50, 50, 0.39);
    -moz-box-shadow: 0px 1px 8px -2px rgba(61, 61, 61, 0.39);
    box-shadow: 0px 1px 8px -2px rgba(146, 146, 146, 0.39);
}
.sistemas > nav > ul > li >i {
    display: flex;
    justify-content: center;   
    padding: 10px 10px 5px 10px;
    color:#33A76F ; 
    
} 
.sistemas > nav > ul > li > a {
    display: flex;
    justify-content: center;   
    font-size: 10px;
    color: #33A76F; 
    font-weight: bolder;;
}

.sistemas  nav  ul  li:hover {
    background:  linear-gradient(to bottom right, #295ba7, #78b454);
}

/* ANIVERSARIOS */

.aniversarios {
    display: flex;
    flex-direction: column;
    border: 0px solid black;
    background-color: #f8f9fa;
    border-radius: 4px;
    margin: 15px 0;
    max-height: 1100px;
    width: 450px;
    box-sizing: border-box;
    -webkit-box-shadow: 0px 1px 8px -2px rgba(51, 50, 50, 0.39);
    -moz-box-shadow: 0px 1px 8px -2px rgba(61, 61, 61, 0.39);
    box-shadow: 0px 1px 8px -2px rgba(146, 146, 146, 0.39);
}

.aniversarios > h5 {
    display: block;
    width: 97.8%;
    border-bottom: 1px solid #d9d9d9cb;
    font-size: 12px;
    padding: 4px 0 15px 15px;
    margin-top: 10px;
    color: rgb(37, 36, 36);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container-aniver {
    display: flex;
    border-bottom: 1px solid #d9d9d9cb;
    width: 100%;
    padding-left: 15px;
}

.aniver-imagem > img {
    display: flex;
    align-items: center;
    width: 65px;
    height: 65px;
    border-radius: 100%;
    padding: 10px;
    margin: 10px 0;
}

.aniver-desc {
    padding: 10px;
    font-size: 90%;
}

.aniver-desc div > h6 {
    font-size: 16px;
    margin: 10px 0 8px 0;
}

.birthday > stan {
    font-size: 90%;
    color: #6c757d;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.fa-cake-candles {
    margin-right: 5px;
    padding-bottom: 0.25px
}